.grideffekt .el-item {
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Lägger till en smidig övergång */
}

.grideffekt .el-item:hover {
transform: scale(1.05); /* Förstorar elementet med 5% /
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); / Lägg till en skugga för att förbättra effekten */
}

/* Hindra hover-stil på alla kortens länkar */
.opentimes-card,
.opentimes-card * {
  color: inherit !important;
  text-decoration: none !important;
  font-weight: inherit !important;
}

.opentimes-card:hover,
.opentimes-card:hover * {
  color: inherit !important;
  text-decoration: none !important;
  font-weight: inherit !important;
}


/* Google Translate Öka mellanrum runt om */
#google_translate_element {
  min-width: 250px;
  padding: 16px 20px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.11);
  /* UIkit-box känsla */
}
/* Google knappen (för drop-down språk) */
#google_translate_element .goog-te-gadget {
  font-family: inherit !important;
  font-size: 1.1em;
  padding: 8px 0;
}
#google_translate_element select {
  height: 34px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1em;
  padding: 4px 12px;
}